/* Base styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  font-family: 'Inter', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/* Define the transition properties for both entering and leaving */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
  /* Adjust duration and easing as needed */
}

/* Starting state for entering, and ending state for leaving */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Hide scrollbar while maintaining scroll functionality */
.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
