
/* Global styles or scoped styles if you prefer */
.warning-popup {
  background: white !important;
  border-radius: 16px !important;
  padding: 32px !important;
  max-width: 418px !important;
}

.warning-title {
  color: #0A0A0A !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  letter-spacing: 0% !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.warning-html-container {
  margin: 8px 0 0 0 !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0% !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.warning-confirm-button {
  background-color: #27B199 !important;
  color: white !important;
  border: none !important;
  padding: 12px 20px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0% !important;
  vertical-align: middle !important;
  border-radius: 64px !important;
}

.warning-confirm-button:hover {
  background-color: #288372 !important;
}

.warning-cancel-button {
  background: transparent !important;
  color: #27B199 !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0% !important;
  vertical-align: middle !important;
  border-radius: 64px !important;
}

.warning-cancel-button:hover {
  background: #f3f3f3 !important;
}

.warning-actions {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  gap: 16px !important;
  width: 100% !important;
}

.warning-actions button {
  width: 100%;
}

.warning-icon {
  width: 48px !important;
  height: 48px !important;
  margin: 0 auto !important;
  color: #D78E08 !important;
  border: 6px solid #D78E08 !important;
}

.warning-icon .swal2-icon-content {
  font-size: 36px !important;
  font-weight: 600 !important;
  transform: rotate(180deg) !important;
}