/* Import Tailwind CSS */
@import "tailwindcss";
@config "./../tailwind.config.js";

/* Base styles */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #ffffff;
  }
}